name: "Pipeline CI-CD"
run-name: "Pipeline executada pelo ${{ github.actor }}"
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Execucao do comando buils
        working-directory: ./src
        run: dotnet build Review-Filmes.sln
  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Autenticacao no Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PWD }}
      - name: Build/Push da imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Review-Filmes.Web/Dockerfile
          push: true
          tags: |
            fspelling/projeto-devops-pro:latest
            fspelling/projeto-devops-pro:v${{ github.run_number }}
