name: Pipeline QA
run-name: Pipeline QA executaado pelo ${{ github.actor }}
on:
  workflow_call:
jobs:
  testes_unitarios:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Execucao do comando test
        working-directory: ./src
        run: dotnet test ./Review-Filmes.Test.Unit/Review-Filmes.Test.Unit.csproj
  testes_integrados:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16.3
        env:
          POSTGRES_PASSWORD: Passw0rd2023!
          POSTGRES_USER: review
          POSTGRES_DB: review
        ports:
          - 5432:5432
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Execucao do comando test
        working-directory: ./src
        env:
          ConnectionStrings__DefaultConnection: "Host=localhost;Database=review;Username=review;Password=Passw0rd2023!"
        run: dotnet test ./Review-Filmes.Test.Integration/Review-Filmes.Test.Integration.csproj
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Setup Java SDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: '21'
      - name: Instalacao do sonar qube scanner
        run: dotnet tool install --global dotnet-sonarscanner
      - name: Build e analise sonar
        run: |
          dotnet sonarscanner begin /k:"review-filmes" /d:sonar.host.url="${{ vars.SONAR_HOST_URL }}"  /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
          dotnet build
          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
