name: Pipeline QA
run-name: Pipeline QA executaado pelo ${{ github.actor }}
on:
  workflow_call:
jobs:
  testes_unitarios:
    environment:
      name: hml
      url: www.test.hml
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Execucao do comando test
        working-directory: ./src
        run: dotnet test ./Review-Filmes.Test.Unit/Review-Filmes.Test.Unit.csproj
  testes_integrados:
    needs: testes_unitarios
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16.3
        env:
          POSTGRES_PASSWORD: Passw0rd2023!
          POSTGRES_USER: review
          POSTGRES_DB: review
        ports:
          - 5432:5432
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Execucao do comando test
        working-directory: ./src
        env:
          ConnectionStrings__DefaultConnection: "Host=localhost;Database=review;Username=review;Password=Passw0rd2023!"
        run: dotnet test ./Review-Filmes.Test.Integration/Review-Filmes.Test.Integration.csproj
